<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Imperium</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b64e0dbd33.js" crossorigin="anonymous"></script>

    <!-- Css -->
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/scrollbar.css">



</head>

<body>

    <!-- Navbar Start -->
    <div class='navbar'>
        <a href="/">
            <div class="navbar-brand">
                <img src="../public/Images/logo.png" />
                <span>Fitness Imperium</span>
            </div>
        </a>

        <div class="navbar-items">

            <ul>

                <li>
                    <a href="#home">
                        Home
                    </a>
                </li>

                <li>
                    <a href="#about">
                        About
                    </a>
                </li>
                <li>
                    <a href="#services">
                        Services
                    </a>
                </li>

                <li>
                    <a href="#centers">
                        Find a gym
                    </a>
                </li>
                <li>
                    <a href="#plans">
                        Plans
                    </a>
                </li>
                <li>
                    <a href="#blogs">
                        Blogs
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        Contact
                    </a>
                </li>
            </ul>

        </div>

    </div>
    <!-- Navbar Ends -->

    <!-- Home Starts -->
    <section id="home">
        <div class='home'>
            <div class='home-content'>
                <span class="home-heading">Dont wish for it</span>
                <span class="home-heading">Work for it</span>

                <div class="home-button-div">
                    <a href="/register">
                        <button class="btn">
                            <span>Get Started</span>
                        </button>
                    </a>
                    
                </div>

                <div class="divider">
                </div>

                <div class="home-button-div ">
                    <a href="/login">
                        <button class="btn-with-icon btn">
                            <span class="fas fa-key fa-rotate-270"></span>
                            <span>Login</span>
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- Home Ends -->

    <!-- About Starts -->
    <section id="about">
        <div class="about">
            <div class="about-content">
                <div class="about-content-body">

                    <div class="about-content-body-header">
                        <h2>Fitness Imperium</h2>
                        <h3>The Complete Managemnt Solution</h3>
                    </div>
                    <div class="about-content-body-detail">
                        <p>Managing everything all by yourself?</p>
                        <p> We at Fitness Imperium try our level best to provide you with a complete solution to manage
                            your fitness centers.</p>
                        <p> Our team of experts works daily to make your management experience better. We provide you
                            with both management and an advertising platform to provide the users an option to be part
                            of your gym.</p>

                    </div>

                    <div class="about-content-body-feature-list">
                        <div class="about-content-body-feature">
                            <span>{{city}}</span>
                            <span>Cities</span>
                        </div>

                        <div class="about-content-body-feature">
                            <span>{{centre}}</span>
                            <span>Fitness Centers</span>
                        </div>

                        <div class="about-content-body-feature">
                            <span>{{member}}</span>
                            <span>Active Members</span>
                        </div>
                    </div>

                </div>
                <div class="about-content-img">
                    <img src="https://source.unsplash.com/600x600/?fitness" />
                </div>

            </div>

            <div class="about-profile">
                <div class="about-profile-header">
                    <h2>
                        Our Experts
                    </h2>
                </div>
                <div class="about-profile-body">

                    <!-- Profile Item Starts -->
                    <div class="about-profile-card">
                        <div class="about-profile-card-base">
                            <div class="about-profile-img">
                                <img
                                    src="https://media-exp1.licdn.com/dms/image/C4E03AQG8qDso95gNhA/profile-displayphoto-shrink_100_100/0/1600659741217?e=1628726400&v=beta&t=7qXA5b52jP1tkUGrGKIIjwee_qkbdOyq-KCIpl8UZyk" />
                            </div>
                            <div class="about-profile-details">
                                <span>Utkarsh Sharma</span>
                                <span>Frontend Developer</span>
                            </div>
                            <div class="about-profile-handles">
                                <a href=""> <span class="fab fa-linkedin-in"></span></a>

                                <a href="">
                                    <span class="fab fa-instagram"></span>
                                </a>

                                <a href="">
                                    <span class="fab fa-twitter"></span>
                                </a>

                            </div>

                        </div>

                    </div>

                    <!-- Profile Item Ends -->
                    <!-- Profile Item Starts -->
                    <div class="about-profile-card">
                        <div class="about-profile-card-base">
                            <div class="about-profile-img">
                                <img
                                    src="https://media-exp1.licdn.com/dms/image/C4E03AQG8qDso95gNhA/profile-displayphoto-shrink_100_100/0/1600659741217?e=1628726400&v=beta&t=7qXA5b52jP1tkUGrGKIIjwee_qkbdOyq-KCIpl8UZyk" />
                            </div>
                            <div class="about-profile-details">
                                <span>Utkarsh Sharma</span>
                                <span>Frontend Developer</span>
                            </div>
                            <div class="about-profile-handles">
                                <a href=""> <span class="fab fa-linkedin-in"></span></a>

                                <a href="">
                                    <span class="fab fa-instagram"></span>
                                </a>

                                <a href="">
                                    <span class="fab fa-twitter"></span>
                                </a>

                            </div>

                        </div>

                    </div>

                    <!-- Profile Item Ends -->
                    <!-- Profile Item Starts -->
                    <div class="about-profile-card">
                        <div class="about-profile-card-base">
                            <div class="about-profile-img">
                                <img
                                    src="https://media-exp1.licdn.com/dms/image/C4E03AQG8qDso95gNhA/profile-displayphoto-shrink_100_100/0/1600659741217?e=1628726400&v=beta&t=7qXA5b52jP1tkUGrGKIIjwee_qkbdOyq-KCIpl8UZyk" />
                            </div>
                            <div class="about-profile-details">
                                <span>Utkarsh Sharma</span>
                                <span>Frontend Developer</span>
                            </div>
                            <div class="about-profile-handles">
                                <a href=""> <span class="fab fa-linkedin-in"></span></a>

                                <a href="">
                                    <span class="fab fa-instagram"></span>
                                </a>

                                <a href="">
                                    <span class="fab fa-twitter"></span>
                                </a>

                            </div>

                        </div>

                    </div>

                    <!-- Profile Item Ends -->
                </div>
            </div>

        </div>
    </section>
    <!-- About Ends -->


    <!-- Services Starts -->

    <section id="services">
        <div class="services">
            <div class="services-header">
                <h2>Our Services</h2>
                <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
            </div>
            <div class="services-content">

                <!-- Service Item Starts -->
                <div class="services-card">
                    <div class="services-card-logo">
                        <span class="fas fa-crown"></span>

                    </div>
                    <div class="services-card-header">
                        <h3>Staff & Member</h3>
                    </div>
                    <div class="services-card-body">
                        <p>Can't keep track of records?</p>
                        <p>We let you manage records of member and staff along with their subscriptions and salary
                            management.</p>
                    </div>

                </div>

                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="services-card">
                    <div class="services-card-logo">
                        <span class="fas fa-desktop"></span>

                    </div>
                    <div class="services-card-header">
                        <h3>Dashboard</h3>
                    </div>
                    <div class="services-card-body">
                        <p>Need a quick glimps on things?</p>
                        <p>We provide you with all your necessary figures, charts, tables and details at one single
                            place.</p>
                    </div>

                </div>

                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="services-card">
                    <div class="services-card-logo">
                        <span class="far fa-calendar-check"></span>

                    </div>
                    <div class="services-card-header">
                        <h3>Attendance</h3>
                    </div>
                    <div class="services-card-body">
                        <p>Tired of marking attendance manually?</p>
                        <p>We let you mark all your staff and member attendance at one place with just a click.</p>
                    </div>

                </div>

                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="services-card">
                    <div class="services-card-logo">
                        <span class="fas fa-piggy-bank"></span>

                    </div>
                    <div class="services-card-header">
                        <h3>Expenses</h3>
                    </div>
                    <div class="services-card-body">
                        <p>Having touble managing your expenses?</p>
                        <p>We let you record your expenses in easy way and provide resourceful insight from your allover
                            data. </p>
                    </div>

                </div>

                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="services-card">
                    <div class="services-card-logo">
                        <span class="fas fa-dolly"></span>

                    </div>
                    <div class="services-card-header">
                        <h3>Inventory</h3>
                    </div>
                    <div class="services-card-body">
                        <p>Crushed under all the weights?</p>
                        <p>We help you manage all your inventory needs at one place. Store, review, discard all you
                            want.</p>
                    </div>

                </div>

                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="services-card">
                    <div class="services-card-logo">
                        <span class="fas fa-portrait"></span>

                    </div>
                    <div class="services-card-header">
                        <h3>Portfolio</h3>
                    </div>
                    <div class="services-card-body">
                        <p>Worried about reaching out to customers?</p>
                        <p>We list you in our centers lists searched by viewers looking for gyms. Provide all your info
                            at one place.</p>
                    </div>

                </div>

                <!-- Service Item Ends -->

            </div>

        </div>
    </section>
    <!-- Services Ends -->

    <!-- Centers Starts -->

    <section id="centers">
        <div class="centers">

            <div class="centers-content">

                <div class="centers-content-header">
                    <h2>
                        Work Out Your Way
                    </h2>
                </div>
                <div class="centers-content-body">

                    <p>
                        We have made a list of all top class gyms in your area for you to select the best one for you.
                    </p>
                </div>
                <div class="centers-btn">
                    <a href="/centre">
                        <button class="btn">Find a GYM
                        </button>
                    </a>
                    
                </div>


            </div>

            <img src="https://source.unsplash.com/1600x900/?nature,water" class="centers-img" />


            <!-- portrait image needed -->



        </div>
    </section>
    <!-- Centers Ends -->


    <!-- Plans Starts -->
    <section id="plans">
        <div class="plans">

            <div class="plans-header">

                <h2>Our Plans</h2>
                <p>We are here with the best plans you will ever find at the best price.</p>

            </div>
            <div class="plans-price-chart">

                <!-- Plans Item Starts -->
                <div class="plans-card">
                    <div class="plans-card-container">
                        <div class="plans-card-title">

                            <span class="fa fa-paper-plane"></span>
                            <h3>Trial</h3>

                        </div>

                        <div class="plans-card-pricing">
                            {{!-- <sup class="fas fa-rupee-sign free-price"></sup> --}}
                            <span>Free</span>
                            <span>Monthly</span>

                        </div>

                        <div class='plans-card-body'>
                            <ul>
                                <li>
                                    5 Users
                                </li>
                                <li>
                                    5 Staff
                                </li>
                                <li>
                                   No Inventory
                                </li>
                                <li>
                                    NO Attendance
                                </li>
                                <li>
                                    NO member Subscription
                                </li>
                                <li>
                                    No Staff Salary
                                </li>
                                <li>
                                    No Expense Management
                                </li>
                                <li>
                                    No Portfolio
                                </li>
                            </ul>
                        </div>


                    </div>

                </div>
                <!-- Plans Item Ends -->

                <!-- Plans Item Starts -->
                <div class="plans-card">
                    <div class="plans-card-container">
                        <div class="plans-card-title">

                            <span class="fa fa-snowflake"></span>
                            <h3>Basic</h3>

                        </div>
                        <div class="plans-card-pricing">
                            <sup class="fas fa-rupee-sign"></sup>
                            <span>2000</span>
                            <span>Monthly</span>

                        </div>

                        <div class='plans-card-body'>
                            <ul>
                                <li>
                                    50 Users
                                </li>
                                <li>
                                    50 Staff
                                </li>
                                <li>
                                    Invertory
                                </li>
                                <li>
                                    Attendance
                                </li>
                                <li>
                                    Member Subscription
                                </li>
                                <li>
                                    Staff Salary
                                </li>
                                <li>
                                    No Expense Management
                                </li>
                                <li>
                                    No Portfolio
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <!-- Plans Item Ends -->
                <!-- Plans Item Starts -->
                <div class="plans-card">
                    <div class="plans-card-container">
                        <div class="plans-card-title">

                            <span class="fa fa-gem"></span>
                            <h3>Premium</h3>

                        </div>
                        <div class="plans-card-pricing">
                            <sup class="fas fa-rupee-sign"></sup>
                            <span>5000</span>
                            <span>Monthly</span>

                        </div>

                        <div class='plans-card-body'>
                            <ul>
                                <li>
                                    unlimited Users
                                </li>
                                <li>
                                    unlimited Staff
                                </li>
                                <li>
                                    Invertory
                                </li>
                                <li>
                                    Attendance
                                </li>
                                <li>
                                    Member Subscription
                                </li>
                                <li>
                                    Staff Salary
                                </li>
                                <li>
                                    Expense Management
                                </li>
                                <li>
                                    Portfolio
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <!-- Plans Item Ends -->
            </div>
            <a href="/register">
                <button class="btn">
                    Lets Hook You Up
                </button>
            </a>
        </div>
    </section>
    <!-- Plans Ends -->

    <!-- Blogs Starts -->
    <section id="blogs">
        <div class="blogs">

            <div class="blogs-title">
                <h2>Our Blogs</h2>
                <h3>
                    Latest of our blogs
                </h3>
                <a href="/blogs" target="_blank">
                    Our Blogs
                </a>


            </div>
            <div class="blogs-content">

                <!-- Blogs Item Starts -->
                {{#each blog}}
                <div class="blogs-card">
                    <a class="blogs-card-anchor" href="/blogsdetails/{{this.blog_id}}" target="_blank"> 
                    <img src="../uploads/Blogs/{{this.image}}"/>
                    </a>


                    <div class="blogs-card-content">
                        <div class="blogs-card-header">
                            <h3>{{this.title}}</h3>
                            <div>
                                <span>{{this.author}}</span>
                                <span>{{this.date}}</span>
                            </div>
                        </div>
                        <div class="blogs-card-body">
                            <div>
                                <p>
                                    {{this.content}}
                                </p>
                            </div>
                            <div>
                                <a href="/blogsdetails/{{this.blog_id}}" target="_blank">
                                    Read More
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
{{/each}}

                <!-- Blogs Item Ends -->

            </div>
        </div>
    </section>
    <!-- Blogs Ends -->

    <!-- Contact Starts -->
    <section id='contact'>
        <div class="contact">
            <div class="contact-content">
                <div class="contact-content-brand">
                    <!-- <img src={Logo} /> -->
                    <h2>
                        Fitness Imperium
                    </h2>
                </div>
                <div class="contact-content-contact">
                    <h2>Contact</h2>
                    <div class="contact-address">
                        <span class="fas fa-map-marker-alt"></span>
                        <span> Address of Office</span>
                    </div>
                    <div class="contact-phone">
                        <span class="fas fa-phone-alt"></span>
                        <span>+91-7014995224, +91-8949441107</span>
                    </div>
                    <div class="contact-email">
                        <span class="fas fa-at"></span>
                        <span>sharma.aman29999@gmail.com</span>
                    </div>
                </div>
                <div class="contact-content-links">
                    <h2>Links</h2>

                    <a href="/register">
                        Try for Free
                    </a>

                    <a href="/login">
                        Login
                    </a>

                    <a href="/centre">
                        Centers
                    </a>

                    <a href="#services">
                        Services
                    </a>

                    <a href="#plans">
                        Plans
                    </a>

                    <a href="">
                        Developers
                    </a>

                    <a href="">
                        Terms
                    </a>

                </div>

            </div>

        </div>

    </section>
    <!-- Contact Ends -->

    <!-- Footer Starts -->
    <section id='footer'>
        <div class="footer">
            <div class="footer-content">
                <div class="footer-handles">
                    <a href="">
                        <span class="fab fa-instagram"></span>
                    </a>


                    <a href="">
                        <span class="fab fa-facebook"></span>
                    </a>


                    <a href="">
                        <span class="fab fa-twitter"></span>
                    </a>


                    <a href="">
                        <span class="fab fa-pinterest"></span>
                    </a>


                    <a href="">
                        <span class="fab fa-google-plus-g"></span>
                    </a>




                </div>
                <div class="footer-info">
                    <h4><span class="far fa-copyright"></span> 2021 Fitness Imperium, All rights reserved.</h4>
                    <h4>Made with <span class="far fa-heart"></span> by Saumya, Shrey, Utkarsh
                    </h4>
                </div>
            </div>


        </div>
    </section>
    <!-- Footer Ends -->


    <script>
        const navbar = document.querySelector('.navbar');
        window.onscroll = () => {
            if (window.scrollY > 855) {
                navbar.classList.add('navbar-scroll');
            }
            else {
                navbar.classList.remove('navbar-scroll');
            }
        };
    </script>
</body>

</html>